<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="auth-container">
    <div class="logo-section">
      <div class="taxi-icon-container">
        <ion-icon name="car"></ion-icon>
        <div class="taxi-label">Taxi</div>
      </div>
      <h1 class="welcome-title">Welcome to Loca Mobile-App</h1>
      <p class="welcome-subtitle">Your reliable transportation partner</p>
    </div>
    
    <div class="action-buttons">
      <ion-button expand="block" class="login-button" routerLink="/auth/login">
        <ion-icon name="log-in-outline" slot="start"></ion-icon>
        Login
      </ion-button>
      
      <ion-button expand="block" class="register-button" fill="outline" routerLink="/auth/register">
        <ion-icon name="person-add-outline" slot="start"></ion-icon>
        Create Account
      </ion-button>
      
      <div class="guest-option">
        <a routerLink="/map">Continue as guest</a>
      </div>
    </div>
  </div>
</ion-content>
